<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Network</name>

  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="Orientation" value="landscape" />

  <description>
      Network App
  </description>

  <author href="http://www.coperion.de" email="support@phonegap.com">
      Coperion
  </author>

  <icon gap:platform="android" gap:qualifier="ldpi" src="android/mipmap-ldpi/ic_launcher.png"/>
  <icon gap:platform="android" gap:qualifier="mdpi" src="android/mipmap-mdpi/ic_launcher.png"/>
  <icon gap:platform="android" gap:qualifier="hdpi" src="android/mipmap-hdpi/ic_launcher.png"/>
  <icon gap:platform="android" gap:qualifier="xhdpi" src="android/mipmap-xhdpi/ic_launcher.png"/>
  <icon gap:platform="android" gap:qualifier="xxhdpi" src="android/mipmap4-xxhdpi/ic_launcher.png"/>
  <icon gap:platform="android" gap:qualifier="xxxhdpi" src="android/mipmap2-xxxhdpi/ic_launcher.png"/>

</widget>