<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Network</name>

  <preference name="AutoHideSplashScreen" value="true" />
  <preference name="Orientation" value="landscape" />

  <description>
      Network App
  </description>

  <author href="http://www.coperion.de" email="support@phonegap.com">
      Coperion
  </author>

  <icon src="favicons/android-chrome-192x192.png" gap:role="default" />
  <preference name="prerendered-icon" value="true"/>

</widget>