@font-face {
	font-family: "Font";
	src: url("ci font/gothambold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothamboldita.ttf") format("truetype");
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothamlight.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothamlightita.ttf") format("truetype");
	font-style: italic;
	font-weight: 100;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothammedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothammediumita.ttf") format("truetype");
	font-style: italic;
	font-weight: 200;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothambook.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Font";
	src: url("ci font/gothambookita.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}


html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
}

body {
	margin: 0;
	font-family: "Font";
	background-color: #dde3ea;
}

h2{
	margin: 0px;
	padding: 0px 20px;
	font-size: 12pt;
	color: #2e2e2e;
}

h3{
	color: #2e2e2e;
}

h4{
	color: #2e2e2e;
}

h5{
	margin-bottom: 7px;
	color: #2e2e2e;
}

h6{
	font-weight: normal;
	color: #2e2e2e;
}

li{
	list-style-type: none;
	color: #2e2e2e;
}

.bold{
	font-weight: bold;
	--text-align: center;
}



/* HEADER */

h1{
	margin-top: 28px;
	text-align: center;
	font-size: 14pt;
}

#header h2{
	display: block;
	position: absolute;
	font-weight: 100;
	top: 28px;
	right: 110px;
	font-size: 14pt;
	color: #7c9cbb;
	padding: 0;
	float: right;
}
time{
	font-size: 10pt;
	font-weight: 200;
}

#header img{
	position: absolute;
	margin: 20px 30px;
}
#header img#exitBtn{
	right: 0px;
	top: 0px;
	width: 24px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#exitBtnContainer{
	position: absolute;
	right: 0;
	top: 0;
	height:75px;
	width: 85px;
	margin-left: 30px;
	background:#7c9cbb;
	content: " ";
}

#header{
	position: absolute;
	width: 100%;
	height: 75px;
	background-color: rgba(255,255,255,0.8);
	z-index: 10;
}


/* MAP */

.information{
	font-size: 10pt;
	line-height: 1.4em;
	margin-top: 5px;
	margin-left: -24px;
	white-space: nowrap;
}

#mapDiv{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: hidden;
	margin-top: 0px;
	z-index: 1;
}

#mapDiv:before {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-image: url("img/sun.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: top center;
	content: " ";
}

#mapDiv.blur {
   filter: blur(5px);
}

#mapDiv.blurwhite:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	background-color: rgba(240,240,240,0.5);
	content: " ";
	z-index: 3;
}

#mapDiv #map{
	position: absolute;
	width: 94%;
	margin-left: 3%;
	margin-top: 7%;
	opacity: 0;
	pointer-events: none;
}

.mapInfo{
	position: absolute;
	height: 90px;
	opacity: 0;
	overflow: visible;
	z-index: 5;
}

.mapInfo:before {
	content: attr(data-temp);
	position: absolute;
	z-index: 7;
	left:-62px;
	color:#7c9cbb;
	font-size: 8pt;
	top:4px;
}

.mapInfo.leftFlag:before {
	left:auto;
	right: -62px;
}

.mapInfo.bottomFlag:before {
	top:74px;
}

.mapInfo.bottomFlag {
	padding-top: 70px;
}

.mapInfo.bottomFlag img {
	bottom: 70px;
}

.mapInfo.bottomFlag .line {
	bottom: 31px;
}

.mapInfo:after {
	content: " ";
	position: absolute;
	z-index: 7;
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	left:-22px;
	top: -6px;
}

.mapInfo.leftFlag:after {
	left:auto;
	right: -22px;
}

.mapInfo.bottomFlag:after {
	top:62px;
}

.mapInfo[data-weather="Clear"]:after { 
	background-image: url("img/weather/Clear.svg");
 }
.mapInfo[data-weather="Rain"]:after { 
	background-image: url("img/weather/Rain.svg");
 }
.mapInfo[data-weather="Clouds"]:after { 
	background-image: url("img/weather/Clouds.svg");
 }

.mapInfo .line{
	border-left: 1px solid black;
	width: 0px;
	height: 80%;
	position: absolute;
	margin-left: 14px;
	margin-top: 4px;
}

.mapInfo h2{
	display: inline-block;
	padding-right: 2px;
}
.leftFlag h2{
	display: inline-block;
	padding-left: 2px;
	padding-right: 20px;
}

.mapInfo h3{
	display: inline-block;
	font-size: 8pt;
	margin: 0;
	color:#7c9cbb;
	font-weight: 100;
}

.mapInfo img{
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.attentionIcnContainer{
	display: inline-block;
	position: relative;
	--vertical-align: -3px;
	overflow: visible;
	width: 26px;
	height: 10px;
	margin-left: 2px;
}
#popup .attentionIcnContainer{
	margin-left: 20px;
	vertical-align: 1px;
}
.attentionIcn{
	display: block;
	position: static !important;
    margin: auto;
    margin-top: -8px;
}

#background{
	position: absolute;
	background-color: #fafafa;
	width: 100%;
	height: 100%;
	z-index: 0;
}

dot{
	color: #a6eb00;
	font-size: 26pt;
	line-height: 0.1em;
	margin: 5px;
	position: relative;
	top: 7px;
}

.red{
	color: #cc2929! important;
}

.leftFlag{
	text-align: right;
}
.leftFlag img{
	right: 0px;
	left: auto;
}
.leftFlag .line{
	right: 14px;
	left: auto;
}
.leftFlag .information li {
	margin-right: 24px;
	color:#808080;
}

.leftFlag .information li b {
	color:#2e2e2e;
}

.night{
	position: absolute;
	height: 100%;
	height: calc(100%-75px);
	top: 75px;
	width: 400px;
	opacity: 0;
	pointer-events: none;
}


/* BUTTONS */

#btns{
	position: absolute;
	bottom: 40px;
	left: -28px;
	opacity: 0;
}

#btns2{ 
	position: fixed;
	left: 151px;
	opacity: 0;
	bottom:75px;
}

ul#btns2 {
	padding-left: 0;
	margin-bottom: 0;
	margin-left: 0;
}

#btns3, #btns4{
	position: absolute;
	bottom: 27px;
	right: 30px;
	width: 200px;
    white-space: nowrap;
    font-size: 10pt;
}
#btns3 p, #btns4 p{
	color: #7c9cbb;
	text-align: left;
	margin: -10px 5px;
	float: right;
}
#btns3 img, #btns4 img{
	vertical-align: -8px;
}

#btns li{
	--background-color: #ccc;
	color: #7c9cbb;
	padding: 3px;
	margin: 10px;
}

#technical #btns2 li, #btns4 li{
	color: #7c9cbb;
	padding: 3px;
	margin: 5px;
	display: inline-block;
}

#btns li img, #btns2 li img, #btns4 li img {
	vertical-align: -8px;
}


#technical #btns2 li, #btns4 li {
	position: relative;
	z-index: 1;
	color:#b3b3b3;
}

#technical #btns2 li.active, #btns4 li.active {
	color:#000;
}

#technical #btns2 li:first-child, #btns4 li:first-child {
	padding-right: 15px;
}

#technical #btns2 li:last-child, #btns4 li:last-child {
	padding-left: 15px;
}

#technical #btns2 li:first-child:after, #btns4 li:first-child:after {
	content:"";
	z-index: 3;
	width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: -18px;
    top: 50%;
    margin-top: -5px;
    -webkit-transition: all 400ms; 
    transition: all 400ms;
}

#technical #btns2 li:first-child:before, #btns4 li:first-child:before {
	content: "";
	z-index: 2;
	width: 32px;
	height: 18px;
	background-color: #808080;
	right:-23px;
	position: absolute;
	border-radius: 9px;
	top:50%;
	margin-top: -9px;
}


#technical #btns2 li.active:first-child:after, #btns4 li.active:first-child:after {
	right: -5px;
}

.activebtn{
	background-color: #7c9cbb !important;
	color:#fff !important;
}


/* POPUP */

#popup{
	width: 610px;
	height: 470px;
	/*--background-color: rgba(187,203,220,0.85);*/
	/*background-image: url("img/Weltkarte_2048c_bg.jpg");*/
	background-size: 1024px;
	background-position: -210px -60px;
	position: absolute;
	top: 130px;
	left: 50%;
	transform: translate(-50%, 0);
	--border: 1px solid #ccc;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	padding: 20px;
	z-index: 2;
}


#popup h2{
	padding: 8px 8px;
	font-weight: normal;
	font-size: 20pt;
	font-weight: normal;
	text-align: center;
}

#popup h2 time {
	color:#7c9cbb;
	font-weight: 100;
}

#popup h3{
	font-weight: normal;
	/*width: 120px;*/
	width: 150px;
	position: relative;
	float: left;
	background-color: white;
	margin: 6px 0px 20px 0px;
	left: -20px;
	padding: 10px 5px;
	font-size: 9pt;
	text-align: center;
	color: #2e2e2e;
}

#closeBtn{
	position: absolute;
	left: -5px;
	top: 45px;
	padding: 20px;
	font-size: 22pt;
	line-height: 20px;
	opacity: 0;
	z-index: 1;
}

#popup ul{
	float: left;
	margin: -20px;
	margin-top: 30px;
}
#popup #valTab ul{
	margin: -40px;
	margin-top: 0px;
}
#popup #valTab ul li{
	font-size: 10pt;
}

.infoMaterials div{
	float: left;
	--margin-top: 0px;
	width: 100px;
	white-space: nowrap;
	overflow: visible !important;
}
.infoMaterials ul{
	margin-top: 4px !important;
}
.infoMaterials>div:first-child>ul:first-child{
	margin-top: 10px !important;
}
.infoMaterials li{
	height: 41px;
	line-height: 41px;
}

.infoMaterials .materialLegend{
	position: relative;
	float: left;
	top: 342px;
	left: -87px;
}

.scrollableY>p, .infoMaterials p{
	font-size: 10pt;
	margin: -4px 5px;
	-- rechts nebendran stellen? margin-right: -32px;
	text-align: right;
	color: #2e2e2e;
	font-weight: normal;
}

.infoMaterials::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}
.infoMaterials::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.2);
}

#popup li{
	line-height: 30px;
}

.clickableEntry{
	font-weight: bold;
}

#popup #valTab{
	float: right;
	right: 40px;
	width: 400px;
	--height: 400px;
}

#popup #valTab>div{
	width: 100px;
	float: left;
	position: relative;
	--background-color: blue;
}

.scrollableY{
	display: none;
	height: 355px;
	width: 100%;
	overflow-y: scroll;
	--background-color: yellow;
	margin-top: -20px;
	--border-bottom: 1px #ccc solid;
}
.infoMaterials{
	overflow-y: visible;
}

.infoMaterials div .empty, .empty{
	--background-color: white;
	width: 400px;
	height: 24px;
	--float: left;
	overflow: visible;
	margin: 7px 10px 10px 0px;
}
/*.emptyNumber{
	opacity: 0;
}*/
.full{
	background-color: #7c9cbb;
	width: 50px;
	
	overflow: visible !important;
}
.used{
	background-color: #97bee6;
	width: 50px;
	margin-top: 4px;
	height: 20px;
}
.used.bgRed.active{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#97bee6+0,ff960d+100 */
	background: #97bee6; /* Old browsers */
	background: -moz-linear-gradient(left,  #97bee6 0%, #ff960d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #97bee6 0%,#ff960d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #97bee6 0%,#ff960d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97bee6', endColorstr='#ff960d',GradientType=1 ); /* IE6-9 */
	-webkit-transition: background 0.6s linear;
}
.used p{
	margin-top: -11px;
}

#popup h4{
	margin: 30px 0px;
}

#popup h5{
	display: block;
	clear: both;
	margin-top: 3px;
	margin-right: 300px;
}

#popup h6{
	position: relative;
	margin-top: 0px;
	top: 1px;
}

#popup_extended{
	position: absolute;
	z-index: 20;
	--width: 200px;
	padding-right: 15px;
	background-color:  #fff;
	border-radius: 5px;
	--border: 1px solid #666;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.15);
	
}
#popup_extended ul{
	pointer-events: none;
	margin-left: -20px;
}
#popup_extended ul li{
	line-height: 20px;
	font-size: 10pt;
	color: #7c9cbb;
}
#popup_extended .heading{
	font-weight: 100;
	font-size: 13pt;
	line-height: 28px;
	color:#666;
	margin-bottom: 10px;
}
#popup_extended img{
	top: -15px;
	position: absolute;
}

.graphImg{
	position: absolute;
	bottom: 63px;
	left: 46px;
}

#graphBtns{
	--width: 1000px;
	white-space: nowrap;
	position: fixed;
	left: 73px;
	bottom: 2px;
}
#graphBtns p{
	display: inline-block;
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 10pt;
}
.lineR.active{
	color: white;
	background-color: #7c9cbb;
}
.lineG.active{
	color: white;
	background-color: #a6eb00;
}
.lineB.active{
	color: white;
	background-color: #808080;
}
.lineY.active{
	color: white;
	background-color: #97bee6;
}
.lineR{
	color: black;
	background-color: rgba(0,0,0,0);
	border: 1px solid #7c9cbb;
}
.lineG{
	color: black;
	background-color: rgba(0,0,0,0);
	border: 1px solid #a6eb00;
}
.lineB{
	color: black;
	background-color: rgba(0,0,0,0);
	border: 1px solid #808080;
}
.lineY{
	color: black;
	background-color: rgba(0,0,0,0);
	border: 1px solid #97bee6;
}


/* TECHNICAL LIST */

#technical .tabHeading{
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: -10px;
	padding-left: 2px;
    margin-left: -10px;
}

#closeBtn2{
	position: fixed;
	left: -5px;
	top: 45px;
	z-index: 50;
	padding: 20px;
	font-size: 22pt;
	line-height: 20px;
	opacity: 0;
}

#closeMarketing {
	position: fixed;
	left: -5px;
	top: 45px;
	z-index: 50;
	padding: 20px;
	font-size: 22pt;
	line-height: 20px;
	opacity: 0.3;
}

#mapLegend, #techLegend{
	position: fixed;
	right: 10px;
	bottom:68px;
	padding: 20px;
	font-size: 22pt;
	line-height: 10pt;
	font-size: 10pt;
	opacity: 0;
	margin: 0;
}

#mapLegend {
	opacity: 1;
	-webkit-transition: all 200ms; 
    transition: all 200ms;
}

#mapDiv.blur #mapLegend {
	opacity: 0;
}

#mapLegend abc, #techLegend abc, .infoMaterials .materialLegend abc {
	width: 10pt;
	height: 10pt;
	display: inline-block;
	background:currentColor;
	margin-right: 5px;
	margin-left:15px;
	margin-bottom: -2px;
}

#mapLegend abc {
	border-radius: 50%;
}

#mapLegend span ,#techLegend span {
	color:#517598;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 3px;
}

#toggle{
	position: absolute;
	bottom: 18px;
	left: 480px;
	opacity: 0;
}
#toggleText{
	position: absolute;
	bottom: 25px;
	left: 540px;
	font-size: 10pt;
	font-weight: normal;
	color: #7c9dbc;
	background-color: white;
	padding: 3px 6px;
	opacity: 0;
}

#technical{
	width: 100%;
	--height: 620px;
	height: calc(100% - 135px);
	background-color: rgba(240,240,240,0.5);
	position: absolute;
	pointer-events: none;
	margin-top: 700px;
	padding: 30px 30px 30px 0;
	-webkit-box-sizing: border-box;
	display: none;
	overflow: scroll;
	white-space: nowrap;
	z-index: 3;
}

#technical li{
	line-height: 24px;
	margin-left: -10px;
	--color: white;
	font-size: 10pt;
}
#technical li b{
	line-height: 0px;
	font-size: 13pt;
}

#techNames{
	width: 120px;
	float: left;
	margin: -30px;
	padding: 76px 10px 33px 56px;
	position: fixed;
	overflow: hidden;
	pointer-events: none;
	--height: 511px;
	height: calc(100% - 75px - 109px);
	/*background-color: #cad3dc;*/
	z-index: 10;
	background-color: #fff;
	background-image: url("img/gradient.png");
	background-size: cover;
}
#techNames::-webkit-scrollbar { 
    display: none; 
}



#technical h4{
	--color: white;
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: normal;
	background-color: white;
	padding: 15px 0px;
	font-size: 11pt;
	text-overflow: ellipsis;
    overflow: hidden;
	--max-width: 140px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing:border-box;
	height: 48px;
	margin-top: 1px;
}

#technical h4.collapsed {
	text-indent: -999em;
	color:rgba(0,0,0,0);
}

#technical h4.collapsed img {
	transform: rotate(180deg);
}

#technical h4 img {
	float: right;
	margin-right: -5px;
}

#technical > div{
	//background-color: white;
	position:relative;
    display:inline-block;
    --margin-left: -5px;
    left: 177px;
}

.countryInfo ul, .productionPlanColumn ul{
	margin-left: 10px;
	width: 130px;
	padding-left: 0;
	margin-bottom: 0;
	display: inline-block;
}
.countryInfo ul li, .productionPlanColumn ul li{
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
}

.countryInfo, .productionPlanColumn{
	/*border-left: 1px solid #ddd;*/
	overflow: hidden;
	margin-right: 1px !important;
	--margin-bottom: 80px;
	--height: 700px;
	
}

.productionPlanColumn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c9cbb+0,ffffff+100&0.15+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(124,156,187,0.15) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(124,156,187,0.15) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(124,156,187,0.15) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c9cbb', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

#techNames + .productionPlanColumn {
	background: none;
}

.collapseBtn{
	display: inline;
	vertical-align: -3px;
}

#technical .empty{
	display: inline-block;
	vertical-align: -1px;
	width: 136px;
	margin: -8px -10px;
	/*height: 50px;*/
	overflow: visible;
}
#technical .full{
	width: 120px;
	display: inline-block;
	float: left;
}
#technical .used{
	width: 60px;
	display: inline-block;
	float: left;
	overflow: visible !important;
}
#technical .empty p, #popup .empty p{
	display: inline-block;
	position: relative;
	left: 3px;
	font-size: 10pt;
	margin: 1px 0;
	text-align: left;
	color: #517598;
}
#technical .used p, #popup .used p{
	margin-top: -3px;
	display: block;
	position: static;
	margin: -3px 4px;
	text-align: right;
	color: #2e2e2e;
	color:#fff;
}

.productionTime, .rystTime, .waitingTime, .freeTime, .emptyTime {
	width: 20px;
	left: -10px;
	bottom: -8px;
	margin-bottom: 3px;
	height: 21px;
	margin-top: -8px;
	display: inline-block;
	position: relative;
}
.productionTime p, .rystTime p, .waitingTime p, .freeTime p, .emptyTime p {
	position: absolute;
	line-height: 0;
	left: 50%;
	bottom: -3px;
	transform: translate(-50%, 0);
}

.productionTime{
	background-color: #a6eb00;
	font-weight: normal;
}
.rystTime{
	background-color: #ffe44e;
}
.waitingTime{
	background-color: #cc2929;
}
.freeTime{
	--background-color: black;
}
#popup .freeTime{
	outline: 1px solid #aaa;
	margin-left: 1px;
    left: -10px;
    width: 27px !important;
    height: 19px;
    margin-bottom: 4px;
}
.emptyTime{
	background-color: #aaa;
}

#popup .productionTime, #popup .rystTime, #popup .waitingTime, #popup .freeTime, #popup .emptyTime{
	width: 28px;
}

.halfToLeft{
	margin-left: -10px;
}
#popup .halfToLeft{
	margin-left: -14px;
}
.smallerBoxR{
	margin-right: 2px;
	width: 18px;
}
.smallerBoxL{
	margin-left: 2px;
	width: 18px;
}
#popup .smallerBoxR, #popup .smallerBoxL{
	width: 26px;
}

/*.darkenToday{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 19px;
}*/

.productionTime.darkenToday{
	background-color: #8dc602;
}
.rystTime.darkenToday{
	background-color: #e6ac00;
}
.waitingTime.darkenToday{
	background-color: #961515;
}
.freeTime.darkenToday{
	background-color: rgba(0,0,0,0.1);
}
.emptyTime.darkenToday{
	background-color: #969696;
}



/*WARNING POPUP*/

#warningPopup{
	position: absolute;
	-webkit-box-sizing: border-box;
	padding: 30px 50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 590px;
	background-color: #313232;
	color: white;
	border-radius: 5px;
	border-top: 9px solid #d3b736;
	opacity: 0;
	pointer-events: none;
	zoom: 90%;
	z-index: 3;
}
#warningPopup h2{
	color: white;
	padding: 0;
	font-weight: normal;
}
#warningPopup .answer{
	text-align: center;
	margin: auto;
	width: 220px;
	margin: 0 11px;
	margin-top: 50px;
	display: inline-block;
	height: 42px;
	line-height: 12px;
	background-color: #6f7070;
	border-radius: 5px;
}
#myCoperion{
	width: 600px;
	height: 400px;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,50%);
	border: none;
	position: absolute;
	background-color: white;
}


/* TABLE TABS */

#tableTabs{
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	-webkit-transition: all 400ms; 
    transition: all 400ms;
}

.hideNav #tableTabs, .hideNav #tigger {
	transform: translateY(100%);
	opacity: 0;
}

#tableTabs h4{
	display: block;
	position: relative;
	float: left;
	background-color: #e5e9ed;
	color: #2b333f;
	width: 155px;
	border-right: 1px solid #ffffff;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin: 0;
	font-weight: 400;
	font-size: 10pt;
	z-index: 4;
}

#tableTabs h4.active {
	background-color: #7c9cbb;
	color:#fff;
}


/* NEWS TIGGER */

#tigger{
	--background-color: red;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: calc(100% - 130px*6);
	height: 60px;
	background-color: #fafafa;
	/*border-top: 1px solid #ccc;*/
	overflow: hidden;
	z-index: 20;
	-webkit-transition: all 400ms; 
    transition: all 400ms;
}

#tigger p{
	margin-left: 10px;
	margin-bottom: 0;
	font-size: 10pt;
	display: absolute;
	--height: 30px;
	overflow: visible;
	max-height: 35px;
	text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
}



/* Temp Design Fixes */

#technical[data-tech="0"] .columnShort, #technical[data-tech="2"] .columnShort {
	padding-top: 90px;
	margin-left: 10px;
}

#technical[data-tech="0"] #techNames, #technical[data-tech="2"] #techNames {
	padding-top: 165px;
}

#technical[data-tech="0"] .used p, #technical[data-tech="2"] .used p {
	line-height: 10pt;
	padding-top: 32px;
}

#technical[data-tech="0"] .used, #technical[data-tech="2"] .used {
	height: 46px;
}

#technical[data-tech="0"] #techNames b, #technical[data-tech="2"] #techNames b {
	line-height: 50px !important;
	display: inline-block;
	font-weight: 400;
}

#technical[data-tech="0"] li.contentline, #technical[data-tech="2"] li.contentline {
	height: 50px;
}

#technical[data-tech="0"] li.contentline-empty, #technical[data-tech="2"] li.contentline-empty {
	line-height: 5px;
	font-size: 0;
}

#technical[data-tech="0"] .spacer, #technical[data-tech="2"] .spacer  {
	height: 5px;
	overflow: hidden;
}

#technical[data-tech="0"] .tabHeading, #technical[data-tech="2"] .tabHeading {
	height: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

#technical[data-tech="0"] #extraLine, #technical[data-tech="2"] #extraLine {
	height: 10px;
}

#technical[data-tech="0"] .empty p, #technical[data-tech="2"] .empty p {
	top: 26px;
}

#technical[data-tech="0"] > div, #technical[data-tech="2"] > div {
	left: 151px;
	margin-right:1px;
}

#technical[data-tech="1"] h4 {
	text-align: center;
	font-weight: 100;
}

#technical[data-tech="1"] .tabHeading {
	font-weight: 100;
	color:#7c9cbb;
	margin-bottom: 3em;
}

#technical[data-tech="1"] #extraLine {
	display: inline-block !important;
	margin-bottom: 4px;
}

#technical[data-tech="1"] {
	padding-top: 0;
}

.productionPlanColumn ul.current {
	position: relative;
	z-index: 1;
}

.productionPlanColumn ul.current:after {
	position: absolute;
	z-index: 2;
	content: " ";
	top: -21px;
    left: -11px;
    right: 1px;
    bottom: 3px;
	background-color: #b4c6d7;
}

.productionPlanColumn ul.current .indicator {
	position: absolute;
	z-index: 10;
	content: " ";
	top:54px;
	bottom:3px;
	width: 1px;
	left: -11px;
	background-color: #2e2e2e;
	/*opacity: 0.25;*/
	opacity: 0;
}

.productionPlanColumn ul.current li {
	position: relative;
	z-index: 3;
	background: transparent !important;
}

.productionPlanColumn ul.current .tabHeading {
	color: #fff !important;
} 

.notNeeded {
	background-image: url(img/unusedline.png) !important;
	background-size: 100% auto;
}

#popup .notNeeded {
	background-size: auto 85%;
    background-repeat: repeat-x;
    background-position: bottom;
}



.night {
	display: none;
}

#marketing-sales {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 75px;
	width: 100%;
	height: calc(100% - 125px);
	background-color: rgba(240,240,240,0.5);
	display: none;
	margin-top: 700px;
}

#marketing-sales.is-active {
	display: block;
}

#technical[data-tech="1"] ul li:not(.tabHeading) div.freeTime, #technical[data-tech="1"] ul li:not(.tabHeading) div.emptyTime {
	border-right:1px solid #fff;
}
#technical[data-tech="1"] #techLegend {

	background: rgba(255,255,255,0.9) !important;
	padding-right: 30px;
	padding-bottom: 28px;
	padding-top: 28px;
	bottom: 60px;
	right: 0px;
}


#technical[data-tech="3"] h4 {
	padding-right: 25px;
	width: 160px;
	position: relative;
}

#technical[data-tech="3"] .countryInfo ul, #technical[data-tech="3"] .productionPlanColumn ul {
	width: 150px;
}

#technical[data-tech="2"] .used {
	margin-top: 0;
	padding-top: 4px;
}

#technical[data-tech="3"] h4 img {
	position: absolute;
	right: 15px;
}

#technical[data-tech="3"] h4.collapsed img {
	left: 10px;
	right: auto;
}


#technical[data-tech="3"] #techLegend {
	display: none;
}

#infoNames li {
	max-width: 170px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#marketing-sales .marketingNav {

	position: absolute;
	left:15px;
	top:50px;
	bottom: 0;
	width: 150px;

}

#marketing-sales .marketingNav > div {
	background-color:#e6e9ee;
	padding: 15px 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	font-weight: 100;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
	user-select(none);
	text-decoration:none;
}

#marketing-sales .marketingNav > div.closed {
	background-image: url(img/lock-icon.png);
	background-size: 13px;
	background-position: 115px center;
	background-repeat: no-repeat;

}

#marketing-sales .marketingNav > div.active {
	background-color: #8ba4c3;
	color:#fff;
}

#marketing-sales .marketingNav > div.active.closed {
	background-image: url(img/lock-icon-active.png);
}


#marketing-sales .marketingContent {
	position: absolute;
	left:165px;
	top: 50px;
	bottom: 0;
	right: 15px;
	overflow-y:scroll;
}

#marketing-sales img {
	max-width: 100%;
	height: auto;
	margin-top: -15px;
}

#marketing-sales .marketingContent .marketingTab {
	display: none;
}

#marketing-sales .marketingContent .marketingTab.active {
	display: block;
}

#marketing-sales .mkt_big {
	width: calc((100% / 3) * 2);
	float: left;
	box-sizing:border-box;
	padding-right: 10px;
}

#marketing-sales .mkt_big .mkt_box {
	background-color: rgba(0,0,0,0.05);
}

#marketing-sales .mkt_small {
	width: calc((100% / 3));
	float: left;
}

#marketing-sales .mkt_boxHeader {
	background-color: rgba(0,0,0,0.08);
	line-height: 50px;
	position: relative;
	margin-bottom: 20px;
}

#marketing-sales .mkt_boxHeader h2 {
	padding-left: 10px;
	padding-right: 10px;
}

.mkt_news .mkt_boxHeader + .content {
	margin-top: -20px;
	margin-bottom: 10px;
}

#marketing-sales .mkt_switch .active {
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}


.news-item {
	font-size: 10pt;
	background-color: rgba(0,0,0,0.05);
	padding: 7.5px 10px;
}

.news-item h4 {
	margin-top: 0;
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
 	text-overflow: ellipsis;
    max-height: 14pt;
}

.news-item h5, .news-item p {
	font-size: 9pt;
}

.news-item p {
	/*white-space: nowrap;*/
  	overflow: hidden;
 	text-overflow: ellipsis;
    max-height: 30px;
    margin-top: 3px;
    margin-bottom: 0;
}

.news-item h5 {
	margin-top: 0;
	margin-bottom: 0;
	color:#7c9cbb;
	font-weight: 100;
}

.mkt_switch .active {
	line-height: 30px;
	font-size: 9pt;
	background-color: #fff;
	border-radius: 16px;
	padding-left: 18px;
	padding-right: 38px;
	color:#808080;
	margin-top: 9px;
	margin-right: 10px;
	border:1px solid #808080;
	position: relative;
}

.mkt_switch .active:after {
	width: 0; 
 	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-top: 7px solid #808080;
    content:" ";
    position: absolute;
    right: 12px;
    top: 12px;
}

.mkt_switch .options {
	position: absolute;
    top: 50px;
    right: 3px;
    background: rgba(255,255,255,0.9);
    left: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    display: none;
}

.mkt_switch .options:before {
	position: absolute;
	top: -7px;
	right: 18px;
	content: " ";
	width: 0; 
  	height: 0; 
  	border-left: 9px solid transparent;
  	border-right: 9px solid transparent;
  	border-bottom: 9px solid #fff;
}

.mkt_switch .options > div {
	padding-left: 10px;
	padding-right: 20px;
	font-size: 10pt;
	color:#7c9cbb;
	line-height: 40px;
	border-top:1px solid #efefef;
	text-align: right;
}

.mkt_switch .options > div:first-child {
	border-top: 0px solid #efefef;
}

.mkt_switch .options.drop {
	display: block;
}

#marketing-sales .centeredHint {
	text-align: center;
	padding-top: 50px;
	font-size: 10pt;
}

#marketing-sales .centeredHint h1 {
	font-weight: 100;
	margin-bottom: 0;
}

#marketing-sales .centeredHint h3 {
	color:#808080;
	font-weight: 100;
	font-size: 10pt;
	margin-top: 0;
}

#marketing-sales .centeredHint p span {
	color:#7c9cbb;
}

/*@media screen and (min-width: 1024px) {

	body {
		width: 1024px;
		margin:auto;
		position: absolute;
		height: 695px;
		top: 50%;
		margin-top: calc((695px / 2) * -1);
		left:50%;
		margin-left: calc((1024px / 2) * -1);
		overflow: hidden;
	}

}*/